.dashboard {
	&-title {
		margin-bottom: 59px;
	}
	&-wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 24px;
	}
	&-numbers {
		background: image('dashboard-numbers-bg.jpg') no-repeat 50% / cover;
		border-radius: 16px;
		padding: 8px;
		position: relative;
		&__img {
			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	&-info {
		position: absolute;
		bottom: 40px;
		max-width: 180px;
		&[data-info='speed'] {
			right: 48px;
		}
		&[data-info='goals'] {
			left: 42px;
		}
		&__number {
			display: block;
			@include font(40px, 1.2);
			font-weight: 700;
			margin-bottom: 8px;
		}
		&__note {
			margin: 0;
			@include font(16px, 1.5);
			font-weight: 600;
		}
	}
}
