.m-menu {
	position: fixed;
	z-index: 20;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: $dark-blue-250;
	border-radius: 10px;
	border: 1px solid $blue-300;
	padding: 56px 12px 74px;
	width: 100vw;
	max-width: calc(100vw - 46px);
	max-height: calc(100vh - 144px);
	@include flex(column, center);
	overflow-y: auto;
	&__list {
		margin: 0;
		margin-bottom: 66px;
		padding: 0;
		list-style: none;
	}
	&__item {
		margin-bottom: 16px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__link {
		@include flex(row, center, center);
		& span {
			color: $white;
			display: inline-block;
			font-weight: 700;
			@include font(16px, 1.5);
			margin-left: 12px;
		}
	}
}
