.theme {
	padding-top: 64px;
	width: 100%;
	@include flex(row, center);
	position: relative;
	margin-bottom: 56px;
	&__img {
		position: absolute;
		top: 46px;
		right: 0;
	}
	&__title {
		position: absolute;
		bottom: calc(100% + 10px);
		left: 0;
	}
	&__select {
		&-wrapper {
			flex-grow: 1;
			margin-right: 39px;
		}
	}
}

@media screen and (max-width: 1065px) {
	.theme {
		&__img {
			display: none;
		}
		& .language-select {
			display: none;
		}
		&__select {
			&-wrapper {
				margin: 0;
			}
		}
	}
}

@media screen and (max-width: 576px) {
	.theme {
		margin-bottom: 32px;
		&__select {
			min-width: auto;
			width: 100%;
			&-wrapper {
				max-width: 100%;
			}
		}
	}
}
