.theme {
	padding-top: 64px;
	width: 100%;
	@include flex(row, center);
	position: relative;
	margin-bottom: 56px;
	&__img {
		position: absolute;
		top: 46px;
		right: 0;
	}
	&__title {
		position: absolute;
		bottom: calc(100% + 10px);
		left: 0;
	}
	&__select {
		&-wrapper {
			flex-grow: 1;
			margin-right: 39px;
		}
	}
}
