.menu {
	position: fixed;
	height: 100vh;
	width: 72px;
	left: 0;
	top: 0;
	padding-top: 58px;
	background: image('menu-bg.png') 50% / cover;
	& .main-container {
		display: none;
	}
	&-list {
		list-style: none;
		padding: 0;
		margin: 0;
		@include flex(column, center);
	}
	&-item {
		margin-bottom: 16px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&-link {
		width: 56px;
		height: 56px;
		background: image('menu-btn.png') no-repeat 50% / cover;
		border-radius: 50%;
		display: grid;
		place-items: center;
		&__inner {
			width: 42px;
			height: 42px;
			background: linear-gradient(180deg, #c9c9c9 0%, #f8f8f8 100%);
			border: 1px solid $white;
			border-radius: 50%;
			display: grid;
			place-items: center;
		}
	}
}

@media screen and (max-width: 1065px) {
	.menu {
		background: image('mobile-menu-bg.png') 0 0 repeat-x;
		width: 100vw;
		height: 64px;
		position: relative;
		padding: 0;
		& .main-container {
			height: 100%;
			@include flex(row, center, space-between);
		}
		&-list {
			display: none;
		}
		&-link {
			width: 40px;
			height: 40px;
			&__inner {
				width: 30px;
				height: 30px;
			}
		}
		&-img {
			transform: translate(8px, 7px);
		}
	}
}
