// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Base
$font: 'Gilroy', sans-serif;
$base-font-size: 16px;
$base-path: '../';

// Container widths
$container-max-width-xls: 1416px;
$container-max-width-xl: 1200px;
$container-max-width-lg: 960px;
$container-max-width-md: 720px;
$container-max-width-sm: 540px;

// Colors
$white: #fff;
$black: #0f0f0f;
$black-900: #030303;

$dark-blue-250: #2a2b43;
$violet-200: #b8c5f1;
$blue-300: #2ba7df;
$blue-600: #1893d5;
